:root {
    --color-one: #333333;
    --color-two: #FFFACD;
    --color-shadow: #3333336a;
    --color-shadow-additional: #fffacdc6;
}

body {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    border: 2px solid var(--color-one);
    text-align: center;
}

footer {
    height: 50px;
    text-align: center;
}

.header {
    text-align: center;
}

.oliver {
    width: 220px;
    height: 250px;
}

.header__title {
    font-size: 55px;
    color: var(--color-one);
    text-shadow: 2px 5px 5px var(--color-shadow), 0 -4px 10px var(--color-shadow-additional);
    letter-spacing: 2px;
}

.header__subtitle {
    color: var(--color-two);
    text-shadow: 2px 5px 5px var(--color-shadow);
}

.skills {
    color: var(--color-two);
}

.skills ol {
    list-style: none;
}

.article {
    color: var(--color-two);
}

.gallery {
    color: var(--color-one);
}

.separator {
    width: 50%;
    height: 3px;
    background-color: var(--color-two);
}

.video {
    width: 800px;
    height: 490px;
    border: none;
}

.hobbies ol {
    list-style: none;
}

.hobbies {
    color: var(--color-two);
}

.ed__table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    color: var(--color-one);
}

.ed__table th,
.ed__table td {
    border: 2px solid var(--color-one);
    padding: 5px;
}

.table__headers {
    color: var(--color-two)
}

.quote {
    font-size: 32px;
    color: var(--color-two);
}

.form {
    width: 600px;
    margin: 0 auto;
    color: var(--color-one);
}

.form__control {
    width: 100%;
}

.control--text {
    width: 50%;
    border-radius: 5px;
}

.form__submit {
    display: block;
    margin: 0 auto;
    color: var(--color-one);
    border-radius: 15px;
    background-color: var(--color-two);
    box-shadow: 2px 2px 5px 2px var(--color-shadow);
}

.link {
    text-decoration: none;
    color: var(--color-two);
    text-shadow: 2px 5px 5px var(--color-shadow);
}

@media (max-width: 900px) {
    .video {
        width: 95%;
        height: calc(100vw * 0.6125);
    }

    .form {
        width: 95%;
        max-width: 600px;
    }

    .ed__table {
        width: 95%;
    }

    .ed__table th,
    .ed__table td {
        word-break: break-word;
        padding: 5px;
        font-size: 14px;
    }
}