:root {
    --color-one:#333333;
    --color-two: #FFFACD;
    --color-shadow:#3333336a;
    --color-shadow-additional:#fffacdc6;
}

body {
    background-color: rgb(36, 184, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center;
}

.oliver {
    width: 220px;
    height: 250px;
}

.header__title {
    font-size: 55px;
    color: var(--color-one);
    text-shadow: 2px 5px 5px var(--color-shadow), 0 -4px 10px var(--color-shadow-additional);
    letter-spacing: 2px;
}

.header__subtitle {
    color: var(--color-two);
    text-shadow: 2px 5px 5px var(--color-shadow);
}

.skills {
    color: var(--color-two);
}

.skills ol {
    list-style: none;
}


main {
    border: 2px solid var(--color-one);
    text-align: center;
}

.article {
    color: var(--color-two);
}

.gallery {
    color: var(--color-one);
}

.separator {
    width: 50%;
    height: 3px;
    background-color:var(--color-two) ;
}

.video {
    width: 800px;
    height: 490px;
    border: none;
}

@media (max-width: 900px) {
  .video {
    width: 100%;
    height: calc(100vw * 0.6125);
  }
}

.hobbies ol {
    list-style: none;
}

.hobbies {
    color: var(--color-two);
}

.ed__table {
    border-collapse: collapse;
    width: 100%;
    color: var(--color-one);
}

.ed__table th,
.ed__table td {
    border: 1px solid var(--color-one);
    padding: 10px;
}

.quote {
    font-size: 32px;
    color: var(--color-two);
}

.form {
    width: 600px;
    margin: 0 auto;
    color: var(--color-one);
}

@media (max-width: 650px) {
  .form {
    width: 95%;
    max-width: 600px;
  }
}
.form__control {
    width: 100%;
    }

.control--text {
    width: 50%;
    border-radius: 5px;
}

.form__submit {
    display: block;
    margin: 0 auto;
    color: var(--color-one);
    border-radius: 15px;
    background-color: var(--color-two);
    box-shadow: 2px 2px 5px 2px var(--color-shadow);
}

footer {
    height: 50px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: var(--color-two);
    text-shadow: 2px 5px 5px var(--color-shadow);
}
